@import "./variables.css";

.container {
	display: grid;
	grid-template:
		"sidebar view" 50%
		"sidebar map" 50% /
		60% 40%;
	width: 100%;
	height: 100%;
}

.sidebar {
	grid-area: sidebar;
}

.view {
	grid-area: view;
}

.map {
	grid-area: map;
	width: 100%;
	height: 100%;
	background-color: #0c365f;
}
