@import "./variables.css";

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hud {
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 5px;
	width: 268px;
	padding: 10px;
	background-color: #ffffff33;
}

.hud-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.stat-bar {
	border-radius: 2px;
	height: 10px;
	width: 200px;
	background-color: #ffffff11;
	overflow: hidden;
}
.hp-fill, .eng-fill {
	width: 0;
	height: 100%;
}
.hp-fill {
	background-color: green;
}
.eng-fill {
	background-color: red;
}

.compass {
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #ffffff33;
}

.pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 100px;
}
.pointer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 0 6px 50px 6px;
	border-color: transparent transparent #007bff transparent;
	width: 0;
	height: 0;
}
.pointer:after {
	content: '';
	position: absolute;
	top: 44px;
	left: 0;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: #007bff;
}

.distance {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
